.container {
    display: grid;
    width: 90%;
    justify-content: center;
    grid-template-columns: 100%;
}

.container img {
    width: 100%;
}

figcaption {
    text-align: center;
    text-transform: capitalize;
}

@media screen and (min-width: 600px) {

    a:focus {
        color: blue;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    figure {
        grid-template-columns: 1 / span 2;
    }

}
